header{
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    padding: 10px;
    display: flex;
    -webkit-box-shadow: inset 0px 0px 38px 0px rgba(0, 255, 255, 0.44);
    -moz-box-shadow: inset 0px 0px 38px 0px rgba(0, 255, 255, 0.44);
    box-shadow: inset 0px 0px 38px 0px rgb(3 57 27 / 44%);
}
.logo{
    max-width: 80px;
}
.basket{
    padding: 37px 25px 25px 25px;
}
.header_burgerMenu{
    padding: 25px;
}
.header_burgerMenu_line{
    display: block;
    border-radius: 10px;
    width: 30px;
    height: 3px;
    bottom: 0;
    transition: transform 1s;
    background-color: #a97b07;
    cursor: pointer;
}
.header_burgerMenu_line::after{
    top: 69px;
    cursor: pointer;
}
.header_burgerMenu_line::before{
    top: 55px;
    cursor: pointer;
}
.header_burgerMenu_line::before, .header_burgerMenu_line::after{
    content: "";
    border-radius: 10px;
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    transition: transform 1s;
    background-color: #a97b07;
}
.basket svg{
    cursor: pointer;
}