.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.slider{
    position: relative;
    padding: 0px 50px;
    max-width: 100%;
    margin: 0 auto;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #ffffff;
}
.slick-prev{
    left: 0;
    background: url(./image/left.jpg) 0 0 / 100% no-repeat;
}
.slick-next{
    right: 0;
    background: url(./image/right.jpg) 0 0 / 100% no-repeat;
}
.slider_boxik{
    margin: 50px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
.slider_boxik:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.slider_boxik img{
    width: auto;
    max-width: 100%;
    height: auto;
}
.slider_boxik_artikul{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    color: #ffffff;
}
.slider_boxik_name{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    color: #ffffff;
}
.slider_boxik_price{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    color: #ffffff;
}